In [89]:
import pandas as pd

In [14]:
df_content=pd.read_csv(r"Content.csv")
df_content.sample(5)

,Unnamed: 0,Content ID,User ID,Type,Category,URL
943,943,62e3c102-b551-4625-b949-d589babb16d8,7b7b5825-2ae1-4119-99a7-e638f13267a0,photo,soccer,https://socialbuzz.cdn.com/content/storage/62e...
749,749,8945e374-9170-4799-b6b0-78fd9d5821a6,5fbf758a-376b-472c-8aca-a87ff1db3e6d,video,studying,https://socialbuzz.cdn.com/content/storage/894...
872,872,9b480f9e-cef3-46cc-8ea1-c116cded9661,c76c3393-88e2-47b0-ac37-dc4f2053f5a5,audio,public speaking,https://socialbuzz.cdn.com/content/storage/9b4...
350,350,ad5ddd13-b8ea-4174-ad71-da1663c7f959,15c2ba5b-eeb6-4d9b-a0e2-7d5461a21c0a,video,Technology,NaN
851,851,8b08e78c-4798-463a-b868-a0dc9fde777f,89572273-761e-46f3-8b99-1689d98aac90,GIF,public speaking,https://socialbuzz.cdn.com/content/storage/8b0...

In [6]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [17]:
# df_content.drop(columns="Unnamed: 0",inplace=True)
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 39.2+ KB

In [20]:
df_content.dropna(inplace=True)

In [23]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  801 non-null    object
 1   User ID     801 non-null    object
 2   Type        801 non-null    object
 3   Category    801 non-null    object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 37.5+ KB

In [33]:
content_category=df_content.groupby(['Category'])['User ID'].count().sort_values(ascending=False)

In [35]:
content_category

Category
travel             60
science            55
technology         54
culture            54
fitness            54
animals            54
tennis             53
cooking            51
healthy eating     50
dogs               49
education          48
food               47
soccer             47
veganism           43
studying           41
public speaking    40
Studying            1
Name: User ID, dtype: int64

In [38]:
content_type=df_content.groupby(['Type'])['User ID'].count().sort_values(ascending=False)
content_type

Type
photo    211
video    209
GIF      191
audio    190
Name: User ID, dtype: int64

In [48]:
df_content.groupby(['Category','Type'])['User ID'].count().loc['Studying']

Type
photo    1
Name: User ID, dtype: int64

In [90]:
# df_content.drop(columns='User ID',inplace=True)
df_content.rename(columns={'Type':"Content Type"},inplace=True)

In [91]:
df_content.sample(5)

,Content ID,Content Type,Category,URL
854,2ceee25a-8461-4409-ab41-7a72d97d722d,photo,animals,https://socialbuzz.cdn.com/content/storage/2ce...
786,3f6b1a9d-db78-4d9a-a495-9de7bd9bbe5b,GIF,tennis,https://socialbuzz.cdn.com/content/storage/3f6...
497,b400ea0c-43f0-4307-a3b2-78e5784d69be,audio,fitness,https://socialbuzz.cdn.com/content/storage/b40...
421,88cbf75c-79f0-42cb-8733-af670f39d6e0,audio,animals,https://socialbuzz.cdn.com/content/storage/88c...
354,3b436c19-72fe-429a-80dd-88d24ef549d1,video,soccer,https://socialbuzz.cdn.com/content/storage/3b4...

In [92]:
df_content.to_csv("Cleaned_content",index=False)

Reactions

In [57]:
df_reaction=pd.read_csv(r"Reactions.csv")
df_reaction.drop(columns='Unnamed: 0',inplace=True)
df_reaction.sample(5)

,Content ID,User ID,Type,Datetime
17997,7df4b13f-c41a-4c81-88fb-213a6a96acc5,a559688e-3f10-436f-a25e-8ad553eacb89,indifferent,2020-12-20 08:42:11
12151,1c77e474-0cc6-40ac-b48b-cbc511bffc77,ffdb3615-516c-422f-aa24-a137e3027d3a,cherish,2021-02-17 08:41:13
23489,56d13215-1444-49b0-8e17-3a888bcd4e1e,b1954833-b6a5-4c6c-9709-80686b7768c4,interested,2020-07-04 10:20:38
11779,1f0ed2b8-8531-416f-b694-a40a63f378a0,de050611-e926-43bb-b1ea-502d8bd25bfc,love,2020-12-26 08:16:14
10073,86f4e4df-636a-48f5-bb66-03ea4fd00214,9e9cf8e7-6731-47da-bc0f-3a487e835586,like,2021-05-12 03:07:13

In [59]:
df_reaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 798.7+ KB

In [62]:
# df_reaction.dropna(inplace=True)
df_reaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  22534 non-null  object
 1   User ID     22534 non-null  object
 2   Type        22534 non-null  object
 3   Datetime    22534 non-null  object
dtypes: object(4)
memory usage: 880.2+ KB

In [66]:
reaction_type=df_reaction.groupby("Type")['Content ID'].count().sort_values(ascending=False)
reaction_type

Type
heart          1497
peeking        1438
scared         1436
adore          1427
interested     1425
hate           1420
love           1411
disgust        1406
dislike        1396
want           1396
super love     1393
like           1391
indifferent    1385
cherish        1380
worried        1379
intrigued      1354
Name: Content ID, dtype: int64

In [93]:
# df_reaction.drop(columns='User ID',inplace=True)
df_reaction.rename(columns={'Type':"Reaction Type"},inplace=True)

In [94]:
df_reaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22534 entries, 1 to 25552
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Content ID     22534 non-null  object
 1   Reaction Type  22534 non-null  object
 2   Datetime       22534 non-null  object
dtypes: object(3)
memory usage: 704.2+ KB

In [95]:
df_reaction.to_csv("cleaned_reaction",index=False)

Reaction Types

In [75]:
df_reactionType=pd.read_csv(r"ReactionTypes.csv")
df_reactionType.sample(5)

    Unnamed: 0     Type Sentiment  Score
13          13  peeking   neutral     35
6            6     love  positive     65
3            3     hate  negative      5
1            1     want  positive     70
0            0    heart  positive     60

In [96]:
# df_reactionType.drop(columns="Unnamed: 0",inplace=True)
df_reactionType.rename(columns={"Type":"Reaction Type"},inplace=True)
df_reactionType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Reaction Type  16 non-null     object
 1   Sentiment      16 non-null     object
 2   Score          16 non-null     int64
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

In [85]:
# df_reactionType['Type'].nunique()
df_reactionType['Sentiment'].nunique()
# df_reactionType['Score'].nunique()

3

In [87]:
df_reactionType

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [97]:
df_reactionType.to_csv("cleaned_ReactionType",index=False)